{% extends "base.html" %}

{% block title %}Clientes{% endblock %}

{% block content %}
    <h1 class="mt-5">Clientes</h1>
    <div class="d-flex justify-content-end mb-3">
        <a href="/agregar_cliente" class="btn btn-primary">Agregar Cliente</a>
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Buscar cliente" id="searchInput">
        <button class="btn btn-outline-secondary" type="button" id="searchButton">Buscar</button>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Correo</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente[0] }}</td>
                <td>{{ cliente[1] }}</td>
                <td>{{ cliente[2] }}</td>
                <td>{{ cliente[3] }}</td>
                <td>{{ cliente[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}









